
@import url('https://fonts.googleapis.com/css?family=Sansita');
h1,h2,h3,h4,h5,h6, footer{
        font-family: 'Sansita', sans-serif;
}
body, nav{
        font-family: 'Helvetica', sans-serif;
    }


*{
 box-sizing: border-box; /* changes width property
    to total width instead of content width */
}
*:before, *:after{
 box-sizing: border-box;
}
figure {
 display: block; /* just in case we have
any older browsers that don't recognize
the HTML5 semantic elements */
}

/*HEADER*/
.site-name {
    font-size: 2em;
    font-weight: 600;
    font-family: 'Sansita', sans-serif;

}
#page-header,header{
    background-color: #0e89d5;
    display: flex;
    align-items:center;
    
}
#logo {
    width: 100px;
    height: 100px;
}
#city {
    display: flex;
    justify-content: center;
    font-family: 'Sansita', sans-serif;
    font-size: 50px;
   
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0e89d5; 
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    
}
nav a:link {
    text-decoration: none;
    color: #FFF;
    margin: 0;
}
nav li {
    display: flex;
    list-style: none;  
    
}
main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: #FFF;
    background-image:url("/images/sunny-winter.jpg");
    background-size: cover;
    background-image:"/images/sunny-winter.jpg";
    background-size: cover;
}
body {
 margin: 0; /* remove any margin from body */
 padding: 0; /* ditto for padding */
 font-size: 20px;
 font-family: 'Helvetica', sans-serif;
    
}

section {
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 5px;
    align-content: center;
    text-align: center;
    padding: 15px
}

#temp {
    font-size: 70px;
    font-weight: 600; 
}
#current-temp {
    display: none;
}
#sunny-img {
    width: 50px;
    height:50px;
/*    display: flex;*/
    align-content: center;
}
.cur-temp li {
    display: flex;
    justify-content: center;
    align-content: center;
}


.cur-conditions {
    display: flex;
    flex-direction: column;
    
}
.cur-conditions li{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
#cur-cond-sunny{
    display:none;
    height:50px;
    width: 50px;
}
section ul {
    display: flex;
    justify-content: center;
    justify-content:space-around;
    list-style: none;
    padding: 0;
   
}


.hourly-fore {
        display: none;
    }

footer {
    background-color: #0e89d5;
    border: 1px solid; 
}




@media screen and (min-width: 600px) {
    .hourly-fore {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content:space-around;
        list-style: none;
        
    }
    
    
    #boxes{
        display: flex;
        justify-content: space-around;
        
    }
    #city{
        display: flex;
        align-self: flex-start;
        padding-left: 10px;
         
    }
    nav {
        position: inherit;
    }
    #current-temp {
        display: flex;
    }
    #cur-cond-sunny{
    display:flex;
    }
    .cur-conditions{
        display:flex;
        order: -1;
    }
}