/*importing font*/
@import url('https://fonts.googleapis.com/css?family=Oswald');

*{
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

/*Header CSS*/
header{
    display: flex;
    align-items: flex-start;
    background-color: #ffffff;
    padding-left: 8px;

}
/*Body CSS*/
body{
    background-image: url("/acme/images/site/background.jpg");
    background-size: cover;
/*
    margin: 0;
    padding: 0;
*/
}
/*Navigation CSS*/
nav{
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    background-color: #de2226;
    background-size:cover;
    display: flex;
    flex-direction: row; 
    text-decoration: none;
}
nav a:link {
    text-decoration-color: #808080;
    color: #ffffff;
    margin: 0;
}
nav ul{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    font-size: 20px;
    margin:10px;
}
nav li {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding:10px;
    color: #ffffff;
    
}
.navigation li a {
    text-decoration:none;
    color: #ffffff;
}

/*Main content CSS*/
main{
    display: flex;
    position: inherit;
    background-color: #ffffff;
    padding-left:15px;
    padding-right: 15px;
    border-top: #de2226 solid;
    flex-direction: column;
}

/*HOME PAGE CSS INDEX*/


aside{
    display: flex;
    position:inherit;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: ;
    max-height: ;
}
/*FEATURE TEXT*/
#feature-description {
    display: flex;
    flex-direction: column;
    color: #990033;
    background-image: url(/acme/images/site/feature.jpg);
    background-size:cover;
    height: 300px;
    
        
}

#feature-description li {
    display: flex;
    text-decoration: none;
    position:relative;
    justify-content: flex-end;
    padding-right: 5%;
    
    
/*    relative is so it is relative to the screen size*/
    
}

#feature-description ul {
    display: flex;
    justify-content:flex-start;
}

.home-content {

    
}

/*
#home-image {
    width: 370px;
    height: auto;
}
*/



aside div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    
   
}

    
#review-content {
    display: flex;
    flex-direction: column;
    bottom: auto;
    
}


#test{
    display: flex;
    position: inherit;
}

/*Footer CSS*/
footer {
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    flex-direction: column;
    padding:0;
    margin:0;
    font-size: 12px;
    padding-bottom: 5px;
    border-top: solid;
    flex-wrap: wrap
    
}
footer p {
    display: flex;
    justify-content: center;
    padding:0;
    margin:0;
    flex-wrap: wrap;
    text-align: center;
}

/*
.content-page{
    display:none;
}
*/



#home-image{
        max-width: 100%;
        height:auto;
       
    }

/*Megan's messing around*/
/*
#test {
    
}

#recipe-content {
    border: solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    grid-template-rows: 1fr;
    grid-gap: 40px;
    margin-bottom: 30px
}

#review-content{
    border: solid;
}
*/

/*Megan's done messing around*/

/*FOR LARGER SCREENS MEDIA QUERIES*/

@media screen and (min-width: 600px){
    nav {
        position: inherit;
    }
    main{
        border-top: none;
        display: flex;
        flex-direction: column;
    }
    #div-content{
        display: flex;
        justify-content: space-around;
    }
/*
    #home-image{
        max-width: 100%;
        height:auto;
       
    }
*/
}




