/*importing font*/
@import url('https://fonts.googleapis.com/css?family=Oswald');

*{
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

/*Header CSS*/
header{
    display: flex;
    align-items: flex-start;
    background-color: #ffffff;
    padding-left: 8px;

}
/*Body CSS*/
body{
    background-image: url("/acme/images/site/background.jpg");
    background-size: cover;

}
/*Navigation CSS*/
nav{
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    background-color: #de2226;
    background-size:cover;
    display: flex;
    flex-direction: row; 
    text-decoration: none;
}
nav a:link {
    text-decoration-color: #808080;
    color: #ffffff;
    margin: 0;
}
nav ul{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-left: 10px;
    font-size: 20px;
    margin:10px;
}
nav li {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding:10px;
    color: #ffffff;
    
}
.navigation li a {
    text-decoration:none;
    color: #ffffff;
}

/*Main content CSS*/
main{
    display: flex;
    position: inherit;
    background-color: #ffffff;
    padding-left:15px;
    padding-right: 15px;
    border-top: #de2226 solid;
    flex-direction: column;
}

/*HOME PAGE CSS INDEX*/


aside{
    display: flex;
    position:inherit;
    flex-wrap: wrap;
    flex-direction: column;
}

/*FEATURE TEXT*/
#feature-description {
    display: flex;
    flex-direction: column;
    color: #990033;
    font-size: 10px;
    background-image: url(/acme/images/site/feature-small.jpg);
    width:350px;
    height: 156px;
}

#actionbtn {
    width: 125px;
}

#feature-description li {
    display: flex;
    text-decoration: none;
    position:relative;
    justify-content: flex-end;
    padding-right: 5%;
    
    
/*    relative is so it is relative to the screen size*/
    
}

#feature-description ul {
    display: flex;
    justify-content:flex-start;
}

#review-content {
    display: flex;
    flex-direction: column;
    bottom: auto;
    order: -1;
    
}

/*RECIPE CONTENT*/

#line1, #line2 {
    display: flex;
}

#recipe-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#recipe-content img {
    display: flex;
    justify-content: center;
    max-width: 65px;
    max-height: 65px;
}

#pulled,#pot-pie,#soup,#taco {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 125px;
    
}

#recipe-content a {
    display: flex;
    padding: 10px;
    max-width: 125px;
    text-align: center;
}
#test{
    display: flex;
    position: inherit;
    flex-direction: column;
    
}


/*Footer CSS*/
footer {
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    flex-direction: column;
    padding:0;
    margin:0;
    font-size: 12px;
    padding-bottom: 5px;
    border-top: solid;
    flex-wrap: wrap
    
}
footer p {
    display: flex;
    justify-content: center;
    padding:0;
    margin:0;
    flex-wrap: wrap;
    text-align: center;
}

h1 {
    font-size: 36px;
}

/*SETTING UP LAYOUTS */

/*
#home-content,#test,#review-content {
    display: none;
}
*/

/*CONTENT PAGE LAYOUT MOBILE*/
#product-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}
#image {
    max-width:350px;
    height: inherit;
}

#price {
    display: flex;
    font-size: 28px;
    color: #de2226;
   
}

/*FOR LARGER SCREENS MEDIA QUERIES*/

@media screen and (min-width: 600px){
    nav {
        position: inherit;
    }
    
    main{
        border-top: none;
        display: flex;
        flex-direction: column;
    }
    
    #feature-description {
        background-image: url(/acme/images/site/feature.jpg);
        background-repeat: no-repeat;
        background-size: cover, contain;
        display: flex;
        min-width: 100%;
        height:408px;
        font-size: 16px;
    }
    
    #actionbtn{
        width: inherit;
    }
    
    
/*    CONTENT PAGES LARGER SCREENS*/
    #product-content {
        display: flex;
        flex-direction: row;
        
    }
   
    #image {
        max-width: 500px;
        height:inherit;
    }
    
    #right-content {
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    
/*    REVIEWS AND RECIPES CONTENT STYLE*/
    
    #test {
        display: flex;
        flex-direction: row;
        
    }
    
    #recipe-content {
        display: flex;
        order: -1;
    }
    
}






